# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Environment Variables
.env

# SQLite Database Files
*.db
database/*.db

# VSCode settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python-specific cache
*.pyo
*.pyd
*.pdb
